.formula {
  width: 200px;
  font-size: 100%;
  text-align: right;
  margin: 0 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: black;
  color: white;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }
}
.display {
  width: 200px;
  font-size: 250%;
  text-align: right;
  margin: 5px 5px 15px 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: black;
  color: white;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }
}