@mixin button($widthMultiplier) {
  $width: 50px;
  $margin: 5px;

  @if $widthMultiplier == 1 {
    width: ($width);
  }
  @else {
    width: ($width * $widthMultiplier + $margin * ($widthMultiplier - 1));
  }
  height: 50px;
  border: 0px;
  border-radius: 25px;
  margin: $margin $margin 0 0;
  &:hover {
    background: red;
  }
}
.defaultButton {
  @include button(1);
}
.clearButton {
  @include button(3);
}
.zeroButton {
  @include button(2);
}
